---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import About from '../components/About.astro'
import Projects from '../components/Projects.astro'
import Experience from '../components/Experience.astro'
import Skills from '../components/Skills.astro'
import Education from '../components/Education.astro'
import Contact from '../components/Contact.astro'
import Footer from '../components/Footer.astro'
---

<Layout title="Tiberius Gherac — Web Developer based in Kalmar, Sweden">
  <main>
    <Hero />
    <About />
    <Projects />
    <Experience />
    <Education />
    <Contact />
    <Footer />
  </main>
</Layout>
